.event{
  color:white;
  padding:3px;
  border-radius:5px;
  margin-top:3px;
  font-size:12px;
}

.travel{
  background:#2196f3;
}

.festival{
  background:#ff9800;
}

.work{
  background:#f44336;
}

.personal{
  background:#9c27b0;
}

.event{
  background:#4caf50;
}