/* ===============================
   スケジュール表示（一覧）
================================ */
.icon-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.trip {
  display: flex;
  align-items: center;
  gap: 15px;
}

.trip h2 {
  margin: 0;
}

/* 画像枠 */
.trip img {
  width: 70px;
  border: 2px solid #8B0000;
  padding: 8px;
  border-radius: 8px;
}