/* ===============================
   メインコンテンツ
================================ */
.main {
  padding-top: 60px;
  padding-left: 0;

  /* フッターに隠れないよう余白 */
  padding-bottom: 150px;
}


/* ===============================
   コンテンツ部分
================================ */
.content {
  margin-top: 50px;
  margin-left: 15px;
  padding: 24px;
}

/* home.html 注意書き */
.caution {
  color: darkred;
  font-weight: bold;
}

/* 注意枠 */
.cautionarea {
  border: 2px solid #8B0000;
  padding: 10px;
  display: inline-block;
  border-radius: 8px;
  background: #ffeaea;
}

/* news.html  */
.news {
  margin-top: 50px;
  margin-left: 15px;
  margin-right: 20px;
  padding: 24px;
  font-size: 24px;
}

.news-title{
  display: flex;
  flex-direction: row;

  border: 1px solid #8b0000;

  gap: 100px;
  align-items: center;
  justify-items: center;

  font-weight: bold;
  font-size: 25px;


}

.t1,t2{

  margin: 10px;
  padding: 5px 20px;

}

/* news　更新日時 */
.news a{
  margin-left: 70px;
  font-size: 20px;
}
/* news.html  ここまで*/
